{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="text-center">Wishlist</h2>
    <div class="row">
        {% for listing in listings %}
        <div class="col-md-6 mb-3">
            <div class="border border-dark p-3" style="height: 250px; max-height: 100%;">
                <div class="row" style="height: 200px;">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        {% if listing.image_url %}
                        <img src="{{ listing.image_url }}" alt="{{ listing.title }}" class="img-thumbnail" style="width: 200px; height: auto;">
                        {% else %}
                        <p>No photo available</p>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h4><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
                        <p><strong>Category:</strong> {{ listing.category }}</p>
                        <p><strong>Listed on:</strong> {{ listing.date }}</p>
                        <p><strong>Current bid:</strong> {{ listing.current_bid }}$</p>
                        <div style="height: 50px; overflow-y: scroll;">
                            <p>{{ listing.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
